.home-content-main {
  margin-top: 10vh;
  margin-left: 20vw;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.home {
  overflow: hidden;
  min-height: 200vh;
}

.home-top {
  /* padding-top: 20vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #082032;
}

.home-logo {
  color: aliceblue;
  font-size: 40px;
}

.home-content {
  color: #a6e24b;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

h1.main-heading {
  color: #ffffff;
  font-size: 3rem;
  /* width: 80%; */
}
h3.description-heading {
  margin-top: 20px;
  color: #334756;
  font-size: 1.5rem;
}
.home-top-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 70vh;
}

.home-button-div {
  display: flex;
  flex-direction: column;
}

.home-button {
  margin: 0 auto;
}
button.signup {
  margin-top: 20px;
  background-color: #ff4c29;
  color: #ffffff;
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: 1.5rem;
  box-shadow: none;
  border: 1px solid #ff4c29;
  border-radius: 10px;
}
.second-section {
  background-color: #f9f9fa;
  color: #082032;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-section h2 {
  color: #ff4c29;
  font-size: 2rem;
}
.companies-imgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 80%;
  margin: 20px auto;
}
.img-parent {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.img-parent img {
  max-width: 80%;
}
/* .home-bottom {
  margin-top: 10vh;
} */

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .home {
    min-height: 280vh;
  }

  .home-btm-text {
    font-size: large;
    margin-left: 19vw;
    width: 15%;
  }

  .home-btm-box1 {
    height: 150vh;
    width: 100vw;
    margin-left: -20px;
  }

  .home-btm-imgs-main {
    margin-top: -65vh;
    z-index: 10;
    position: absolute;
    margin-left: 35vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-content-main {
    width: 50%;
  }

  .home-logo {
    font-size: 35px;
    margin-left: -10px;
    margin-top: 40px;
  }

  .home-button {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 2;
  }

  .btn-text1 {
    position: absolute;
    z-index: 5;
    margin-left: 30px;
    margin-top: 5px;
  }

  .btn-text2 {
    color: #a6e24b;
    margin-left: 120px;
    margin-top: 3px;
  }

  .btn-arrow {
    z-index: 5;
    position: absolute;
    height: 10px;
    width: 10px;
    margin-left: 80px;
    margin-top: 0.5vh;
  }

  .home-btm-box1 {
    height: 120vh;
    width: 100vw;
    margin-left: -20px;
  }

  .home-btm-box2 {
    margin-top: 25vh;
  }

  .home-btm-text {
    width: 20vw;
    font-size: larger;

    margin-left: 15vw;
    margin-top: -60vh;
    position: absolute;
  }

  .home-btm-imgs-main {
    margin-top: -60vh;
    z-index: 10;
    position: absolute;
  }

  .home-btm-img {
    height: 25vh;
    width: 25vw;
    margin-left: 25px;
  }
}

@media (max-width: 767px) {
  .home-logo {
    font-size: 25px;
    margin-left: -10px;
    margin-top: -40px;
  }

  .home-content {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
  }

  .home-button-div {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
  }

  .home-button {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 2;
  }

  .btn-text1 {
    position: absolute;
    z-index: 5;
    margin-left: 30px;
    margin-top: 5px;
  }

  .btn-text2 {
    color: #a6e24b;
    margin-left: 120px;
    margin-top: -5px;
  }

  .btn-arrow {
    z-index: 5;
    position: absolute;
    height: 10px;
    width: 10px;
    margin-left: 80px;
    margin-top: 0.5vh;
  }

  .home-line1 {
    display: none;
  }

  .home-line2 {
    display: none;
  }

  .home-line3 {
    display: none;
  }

  .home-bottom {
    margin-top: 10px;
  }

  .home-btm-box1 {
    height: 300px;
    width: 106vw;
    margin-left: -20px;
  }

  .home-btm-box2 {
    height: 130px;
    width: 130px;
    position: relative;
    margin-top: 85px;
    margin-left: 5vw;
  }

  .home-btm-text {
    width: 20vw;
    font-size: xx-small;

    margin-left: 10vw;
    margin-top: -30vh;
    position: absolute;
  }

  .home-btm-imgs-main {
    margin-left: 50vw;
    margin-top: -33vh;
    z-index: 10;
    position: absolute;
  }

  .home-btm-imgs-sub {
    display: flex;
    flex-direction: row;
  }

  .home-btm-img {
    height: 15vh;
    width: 15vw;
    margin: 5px;
  }
}
