.footer-main {
  background-color: #2c394b;
  color: #ffffff;
  font-size: 1.2rem;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  letter-spacing: 2px;
}
